html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
}

/*
  Variables
*/
:root {
    --primary-100: #78d64b;
    --primary: var(--primary-100);
    --primary-60: #aee693;
    --primary-40: #c9efb7;
    --primary-20: #e4f7db;

    --black-80: #333;
    --black-60: #666;
    --black-40: #999;
    --black-20: #ccc;
    --black-10: #eee;
}

/*
  Forms
*/
input {
    padding: 0.5rem;
}

/*
  Utilities
*/
.rotate-180 {
    transform: rotate(180deg);
}

/*
  Typography
*/
h1 {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

h2 {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

i {
    font-size: 1.75em;
}

a {
    color: unset;
    text-decoration: none;
}

/* 
  Show a little arrow glyph after `target="_blank"` anchors.
*/
a[target="_blank"]:after {
    content: " \2197";
    font-size: 0.9em;
}

/*
 Theme
*/
.page-wrapper {
    color: black;
    background-color: white;
}

.page-wrapper > header {
    background-color: var(--primary-60);
}

button {
    background-color: var(--primary);
}

button.disabled {
    background-color: var(--primary-40);
}

.page-wrapper.dark {
    color: white;
    background-color: black;
}

.page-wrapper.dark > header {
    background-color: unset;
}
